<nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a [routerLink]="'/productadd'" routerLinkActive="active" class="nav-link active"
                        aria-current="page" aria-label="Add Products">Add
                        Products</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="'/content'" routerLinkActive="active" class="nav-link"
                        (keyup.enter)="funcForChangingMatTable()" aria-label=" View Products"> View Products</a>
                </li>
            </ul>
        </div>
    </div>
</nav>